* {
  font-family: "Open Sans, sans-serif";
}

.Header {
  background-image: url("./Images/UnivProfile.png");
  min-height: 50vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.65);
}

.email {
  &:hover {
    text-decoration: underline;
  }
}

.site {
  &:hover {
    text-decoration: underline;
  }
  cursor: pointer;
}

.button {
  background-color: #ffc60b;
}

.button:hover {
  background-color: #cca525;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}
